open_municipio/data_import/schema/OM-XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://www.openmunicipio.it" xmlns="http://www.openmunicipio.it"
	elementFormDefault="qualified">

	<xs:import namespace="http://www.w3.org/1999/xlink"
		schemaLocation="http://www.w3.org/1999/xlink.xsd"/>

	<!-- BEGIN auxiliary types and common elements -->
	<xs:element name="AttachmentDescription">
		<xs:complexType mixed="true"/>
	</xs:element>

	<xs:element name="AttachmentContent">
		<xs:complexType mixed="true"/>
	</xs:element>

	<xs:element name="Attachment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttachmentDescription" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="AttachmentContent" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute ref="xlink:href"/>
			<xs:attribute fixed="simple" ref="xlink:type"/>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="siteType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="commission"/>
			<xs:enumeration value="council"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="contentType" mixed="true">
		<xs:sequence>
			<xs:element ref="Section" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Content" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="actType">
		<xs:sequence>
			<xs:element ref="Title" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Content" minOccurs="0"/>
			<xs:element ref="Attachment" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string"/>
		<xs:attribute name="presentation_date" use="optional" type="xs:date"/>
		<xs:attribute name="is_final" use="optional" type="xs:boolean"/>
	</xs:complexType>


	<xs:complexType name="councilActType">
		<xs:complexContent>
			<xs:extension base="actType">
				<xs:sequence>
					<xs:element ref="ActSubscribers" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="amendableActType">
		<xs:complexContent>
			<xs:extension base="councilActType">
				<xs:sequence>
					<xs:element ref="ApprovedContent" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="Amendment" maxOccurs="unbounded" minOccurs="0"/>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="cityGovernmentActType">
		<xs:complexContent>
			<xs:extension base="actType">
				<xs:sequence>
					<xs:element ref="ActSubscribers" minOccurs="0" maxOccurs="2"/>
				</xs:sequence>
				<xs:attribute name="sitting_id" use="optional" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="mayorActTransition">
		<xs:attribute name="name">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<!-- generic -->
					<xs:enumeration value="Presented"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="date" type="dateType"/>
		<!-- a concise description of the reason that lead the transition to this step -->
		<xs:attribute name="reason" type="xs:string"/>
		<!-- in the note field it is possible to store unstructure information attached to the transition -->
		<xs:attribute name="note" type="xs:string"/>
	</xs:complexType>

	<!-- an act can be subscribed by institutions -->
	<xs:element name="ActSubscribers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ActSubscriber" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="chargeID" type="xs:string"/>
						<xs:attribute name="date" type="xs:date"/>
						<xs:attribute name="type">
							<xs:simpleType>
								<xs:restriction base="xs:token">
									<!-- denotes the "primo firmatario" -->
									<xs:enumeration value="first_subscriber"/>
									<!-- denotes the "cofirmatario" -->
									<xs:enumeration value="co_signer"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ChargeRef">
		<xs:complexType>
			<xs:attribute name="chargeID" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="ActTargets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChargeRef" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="bodyType">
		<xs:sequence>
			<xs:element ref="Charge" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="description" type="xs:string" use="optional"/>
	</xs:complexType>

	<xs:simpleType name="genderType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="m"/>
			<xs:enumeration value="f"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ssnType">
		<xs:restriction base="xs:string">
			<xs:length value="16"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- a valid date is "unknown", or a xs:date (eg "2012-01-20"), 
        or a xs:dateTime (eg "2012-01-20T13:40:50" ) -->
	<xs:simpleType name="dateType">
		<xs:union memberTypes="xs:date xs:dateTime">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<xs:complexType name="chargeType">
		<xs:attribute name="id" type="xs:string" use="optional"/>
		<xs:attribute name="personID" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="description" type="xs:string" use="optional"/>
		<xs:attribute name="start_date" type="dateType" use="optional"/>
		<xs:attribute name="end_date" type="dateType" use="optional"/>
		<xs:attribute name="end_reason" type="xs:string" use="optional"/>
	</xs:complexType>
	<!-- END auxiliary types -->

	<!-- ROOT -->
	<xs:element name="OpenMunicipio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Scheduling" minOccurs="0"/>
				<xs:element ref="Subjects" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Acts" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Sittings" maxOccurs="1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- BEGIN groups and people -->
	<xs:element name="People">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Person" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Person">
		<xs:complexType>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="first_name" use="required" type="xs:string"/>
			<xs:attribute name="last_name" use="required" type="xs:string"/>
			<xs:attribute name="birth_date" type="xs:date" use="optional"/>
			<xs:attribute name="birth_place" type="xs:string" use="optional"/>
			<xs:attribute name="sex" type="genderType" use="optional"/>
			<xs:attribute name="ssn" type="ssnType" use="optional"/>

		</xs:complexType>
	</xs:element>

	<xs:element name="Groups">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Group" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChargeRef" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="acronym" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<!-- BEGIN bodies -->
	<xs:element name="Bodies"> </xs:element>

	<xs:element name="Offices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Office" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>

		<!-- perche` non funziona con xpath="./Office/ -->
		<xs:key name="officeHasUniqueName">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@name"/>
		</xs:key>
	</xs:element>

	<xs:element name="Office" type="bodyType"/>

	<xs:element name="Charge" type="chargeType"/>

	<xs:element name="Companies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Company" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Institutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Mayor" type="bodyType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CityGovernment" type="bodyType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Council" type="bodyType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Commission" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ChargeRef" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Company" type="bodyType"/>
	<xs:element name="Institution" type="bodyType"/>
	<!-- END bodies -->

	<!-- BEGIN acts -->
	<xs:element name="Acts">
		<xs:complexType>
			<xs:sequence>
				<!-- Acts of the City Council -->
				<xs:element ref="ActsCouncil" minOccurs="0" maxOccurs="1"/>
				<!-- Acts of the Giunta Municipale -->
				<xs:element ref="ActsCityGovernment" minOccurs="0" maxOccurs="1"/>
				<!-- Acts of the City Mayor -->
				<xs:element ref="ActsMayor" minOccurs="0" maxOccurs="1"/>
				<!-- Administrative acts of the various offices -->
				<xs:element ref="ActsOffices" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>

		<!-- I expect the selector xpath to be '*/Section' but it does not work in that way -->
		<xs:unique name="actHasUniqueId">
			<xs:selector xpath="./*/*"/>
			<!-- only Section's of level 2 -->
			<xs:field xpath="@title"/>
		</xs:unique>
	</xs:element>

	<xs:element name="ActsCouncil">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Interrogation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Interpellation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Motion" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Agenda" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Amendment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CouncilDeliberation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>

		<xs:key name="actId">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>

	<xs:element name="ActsCityGovernment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CityGovernmentDeliberation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Investigation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Decision" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ActsMayor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Regulation"/>
				<xs:element ref="Decree"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ActsOffices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Determination"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Interrogation">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="councilActType">
					<xs:sequence>
						<xs:element ref="ActTargets" minOccurs="1" maxOccurs="1"/>
						<!-- 						<xs:element ref="QuestionText" minOccurs="1" maxOccurs="1" /> -->
						<!-- the Answer is optional because the act may have not received it, yet -->
						<xs:element ref="QuestionMotivationText" minOccurs="0"/>
						<xs:element ref="Answer" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="InterrogationTransition" minOccurs="0"
							maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="answer_type" use="required" type="answerType">
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="QuestionText">
		<xs:complexType mixed="true"/>
	</xs:element>

	<xs:element name="Answer">
		<xs:complexType mixed="false">
			<xs:sequence>
				<xs:element name="AnswerText">
					<xs:complexType mixed="true"/>
				</xs:element>
				<xs:element name="ReplyText" minOccurs="0">
					<xs:complexType mixed="true"/>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="answer_date" type="xs:date"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="ReplyText">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ReplyInstitution" type="bodyType"> </xs:element>

	<xs:element name="Interpellation">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="councilActType">
					<xs:sequence>
						<xs:element ref="ActTargets" minOccurs="1" maxOccurs="1"/>
						<!-- the Answer is optional because the act may have not received it, yet -->
						<xs:element ref="QuestionMotivationText" minOccurs="0"/>
						<xs:element ref="Answer" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="InterpellationTransition" minOccurs="0"
							maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="answer_type" type="answerType"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Agenda">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="amendableActType">
					<xs:sequence>
						<xs:element ref="AgendaTransition" maxOccurs="unbounded" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="site" type="siteType"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Motion">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="amendableActType">
					<xs:sequence>
						<xs:element ref="MotionTransition" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="site" type="siteType"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>


	<xs:element name="MotionTransition">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
						<xs:enumeration value="Accepted"/>
						<xs:enumeration value="Rejected"/>
                        <xs:enumeration value="Decayed"/>
                        <xs:enumeration value="Retired"/>
                        <xs:enumeration value="Postponed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" type="dateType"/>
			<!-- a concise description of the reason that lead the transition to this step -->
			<xs:attribute name="reason" type="xs:string"/>
			<!-- in the note field it is possible to store unstructure information attached to the transition -->
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Amendment">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="amendableActType">
					<xs:sequence>
						<xs:element ref="ReferredDeliberationArticle" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
					<xs:attribute name="act" type="xs:string" use="required"/>
					<xs:attribute name="section" type="xs:string" use="required"/>
					<xs:attribute name="referred_act" use="required" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="ReferredDeliberationArticle" type="contentType"/>

	<xs:element name="TransitionStep">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
						<xs:enumeration value="Voted"/>
						<!-- Aggiungere gli stati del workflow di presentazione degli atti -->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" type="dateType"/>
			<!-- a concise description of the reason that lead the transition to this step -->
			<xs:attribute name="reason" type="xs:string"/>
			<!-- in the note field it is possible to store unstructure information attached to the transition -->
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="InterrogationTransition">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
						<xs:enumeration value="Answered"/>
						<xs:enumeration value="Decayed"/>
						<xs:enumeration value="Retired"/>
						<xs:enumeration value="Postponed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" type="dateType"/>
			<!-- a concise description of the reason that lead the transition to this step -->
			<xs:attribute name="reason" type="xs:string"/>
			<!-- in the note field it is possible to store unstructure information attached to the transition -->
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="InterpellationTransition">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
						<xs:enumeration value="Answered"/>
						<xs:enumeration value="Decayed"/>
						<xs:enumeration value="Retired"/>
                        <xs:enumeration value="Postponed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" type="dateType"/>
			<!-- a concise description of the reason that lead the transition to this step -->
			<xs:attribute name="reason" type="xs:string"/>
			<!-- in the note field it is possible to store unstructure information attached to the transition -->
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="AgendaTransition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SittingXRef"/>
			</xs:sequence>
			<xs:attribute name="status">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
						<xs:enumeration value="Accepted"/>
                        <xs:enumeration value="Rejected"/>
						<xs:enumeration value="Decayed"/>
						<xs:enumeration value="Retired"/>
                        <xs:enumeration value="Postponed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="transition_date" type="dateType"/>
			<xs:attribute name="symbol" type="xs:string"/>
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Content" type="contentType"/>
	<xs:element name="Section" type="contentType"/>
	<xs:element name="ApprovedContent" type="contentType"/>


	<xs:element name="CouncilDeliberationTransition">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
						<xs:enumeration value="Accepted"/>
						<xs:enumeration value="Rejected"/>
                        <xs:enumeration value="Decayed"/>
						<xs:enumeration value="Retired"/>
						<xs:enumeration value="Postponed"/>
						<xs:enumeration value="DiscussedCommission"/>
						<xs:enumeration value="AcceptedCommission"/>
						<xs:enumeration value="RejectedCommission"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" type="dateType"/>
			<!-- a concise description of the reason that lead the transition to this step -->
			<xs:attribute name="reason" type="xs:string"/>
			<!-- in the note field it is possible to store unstructure information attached to the transition -->
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>


	<xs:element name="CouncilDeliberation">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="amendableActType">
					<xs:sequence>
						<xs:element ref="OfficeOpinion" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="CouncilDeliberationTransition" minOccurs="0"
							maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="final_id" type="xs:string"/>
					<!-- no need fro approval_date, add a CouncilDeliberationTransition with
    name="Accepted"
					<xs:attribute name="approval_date" type="xs:date" use="optional"/> -->
					<!-- publication_date is the same as presentation_date, see actType -->
					<xs:attribute name="execution_date" type="xs:date" use="optional"/>
					<xs:attribute name="initiative" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<!-- The initiative came from the Council -->
								<xs:enumeration value="council_member"/>
								<xs:enumeration value="council_president"/>
								<!-- The initiative came from the Giunta -->
								<xs:enumeration value="alderman"/>
								<xs:enumeration value="mayor"/>
								<xs:enumeration value="city_government"/>
								<!-- The initiative came from the Citizens -->
								<xs:enumeration value="citizens"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="CommissionBallot">
		<xs:complexType>
			<xs:sequence>
				<!-- Charge elements record present charges -->
				<xs:element ref="Charge" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="Intervention" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Votes"/>
			</xs:sequence>
			<xs:attribute name="commission_name" use="required" type="xs:string"/>
			<xs:attribute name="start_date" use="required" type="xs:dateTime"/>
			<xs:attribute name="sitting_id" use="required" type="xs:string"/>
			<xs:attribute name="deliberation_id" use="required" type="xs:string"/>
			<xs:attribute name="ballot_result" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="accepted"/>
						<xs:enumeration value="rejected"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Intervention">
		<xs:complexType>
			<xs:sequence>
				<!-- The charge that makes the intervention -->
				<xs:element ref="Charge"/>
				<xs:element ref="InterventionContent"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="InterventionContent">
		<xs:complexType/>
	</xs:element>

	<xs:element name="OfficeOpinion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OpinionContent" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="date_received" type="xs:date" use="required"/>
			<xs:attribute name="date_published" type="xs:date" use="required"/>
			<xs:attribute name="office_name" type="xs:string" use="required"/>
			<xs:attribute name="office_opinion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="approved"/>
						<xs:enumeration value="rejected"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="OpinionContent">
		<xs:complexType mixed="true"/>
	</xs:element>


	<!-- BEGIN giunta acts -->
	<xs:element name="CityGovernmentDeliberation">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cityGovernmentActType">
					<xs:sequence>
						<xs:element ref="CityGovernmentDeliberationTransition" minOccurs="0"
							maxOccurs="unbounded"/>
						<!-- Institution keeps track of present people -->
					</xs:sequence>
					<xs:attribute name="deliberation_date" use="optional" type="xs:date"/>
					<xs:attribute name="deliberation_id" use="optional" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="CityGovernmentDeliberationTransition">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
						<xs:enumeration value="Accepted"/>
						<xs:enumeration value="Rejected"/>
						<xs:enumeration value="Retired"/>
						<xs:enumeration value="Postponed"/>
						<xs:enumeration value="DiscussedCommission"/>
						<xs:enumeration value="AcceptedCommission"/>
						<xs:enumeration value="RejectedCommission"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" type="dateType"/>
			<!-- a concise description of the reason that lead the transition to this step -->
			<xs:attribute name="reason" type="xs:string"/>
			<!-- in the note field it is possible to store unstructure information attached to the transition -->
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Investigation">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cityGovernmentActType">
					<xs:sequence>
						<xs:element ref="InvestigationTransition" minOccurs="0"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="InvestigationTransition">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" type="dateType"/>
			<!-- a concise description of the reason that lead the transition to this step -->
			<xs:attribute name="reason" type="xs:string"/>
			<!-- in the note field it is possible to store unstructure information attached to the transition -->
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Decision">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cityGovernmentActType">
					<xs:sequence>
						<!-- Charge records the persons present at the current sitting -->
						<xs:element ref="PresentingOffice" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element ref="DecisionTransition" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="PresentingOffice" type="bodyType"/>

	<xs:element name="DecisionTransition">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
						<xs:enumeration value="Accepted"/>
						<xs:enumeration value="Rejected"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" type="dateType"/>
			<!-- a concise description of the reason that lead the transition to this step -->
			<xs:attribute name="reason" type="xs:string"/>
			<!-- in the note field it is possible to store unstructure information attached to the transition -->
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<!-- END giunta acts -->

	<!-- BEGIN mayor acts -->
	<xs:element name="Regulation">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="actType">
					<xs:sequence>
						<xs:element name="RegulationTransition" type="mayorActTransition"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Decree">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="actType">
					<xs:sequence>
						<xs:element name="Decree" type="mayorActTransition"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- END mayor acts -->

	<!-- BEGIN office acts -->
	<xs:element name="Determination">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="actType">
					<xs:sequence>
						<xs:element ref="DeterminationTransition" minOccurs="1"
							maxOccurs="unbounded"/>
						<xs:element ref="Payee" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="number"/>
					<xs:attribute name="year">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="2011"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="currency">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="euro"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="amount" type="xs:float"/>
					<xs:attribute name="action">
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:enumeration value="income"/>
								<xs:enumeration value="outcome"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="peg_reference" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Payee">
		<xs:complexType mixed="true"/>
	</xs:element>

	<xs:element name="DeterminationTransition">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<!-- generic -->
						<xs:enumeration value="Presented"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" type="dateType"/>
			<!-- a concise description of the reason that lead the transition to this step -->
			<xs:attribute name="reason" type="xs:string"/>
			<!-- in the note field it is possible to store unstructure information attached to the transition -->
			<xs:attribute name="note" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<!-- END office acts -->
	<!-- END acts -->

	<!-- BEGIN ballots and votes -->

	<xs:element name="Votes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChargeVote" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<!-- counter_abs counts the 'abstainers', aka "astenuti" -->
		</xs:complexType>
	</xs:element>

	<xs:element name="ChargeVote">
		<xs:complexType>
			<xs:attribute name="vote">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
						<xs:enumeration value="abstained"/>
						<xs:enumeration value="mission"/>
						<xs:enumeration value="absent"/>
						<!-- partecipates to an invalid votation -->
						<xs:enumeration value="invalid"/>
						<!-- it is president during votation, and thus it does not vote -->
						<xs:enumeration value="president"/>
						<!-- the charge requires the votation but does not vote -->
						<xs:enumeration value="requires"/>
						<!-- the votation has been canceled -->
						<xs:enumeration value="canceled"/>
						<!-- the votation is secret -->
						<xs:enumeration value="secret"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="chargeID" type="xs:string"/>
			<xs:attribute name="groupID" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<!-- END ballots and votes -->
	<xs:element name="Sittings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sitting" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sitting">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Votation" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="num" type="xs:string"/>
			<xs:attribute name="date" type="xs:date"/>
			<xs:attribute name="call" type="xs:positiveInteger"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Votation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Subject"/>
				<xs:element ref="Votes"/>
			</xs:sequence>
            <xs:attribute name="idact" type="xs:string" use="optional" />
			<xs:attribute name="seq_n" type="xs:nonNegativeInteger"/>
			<xs:attribute name="date_time" type="xs:dateTime"/>
			<xs:attribute name="presents" type="xs:nonNegativeInteger"/>
			<xs:attribute name="partecipants" type="xs:nonNegativeInteger"/>
			<xs:attribute name="legal_number" type="xs:positiveInteger"/>
			<xs:attribute name="counter_yes" type="xs:nonNegativeInteger"/>
			<xs:attribute name="counter_no" type="xs:nonNegativeInteger"/>
			<xs:attribute name="counter_abs" type="xs:nonNegativeInteger"/>
			<xs:attribute name="outcome">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="approved"/>
						<xs:enumeration value="rejected"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="votation_type">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="Palese"/>
						<xs:enumeration value="Segreta"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Subjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="People" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Offices" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Companies" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Institutions" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Groups" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Subject">
		<xs:complexType mixed="true">
			<xs:attribute name="short" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SittingXRef">
		<xs:complexType>
			<xs:attribute ref="xlink:href" use="required"/>
			<xs:attribute ref="xlink:type" fixed="simple"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Scheduling">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Event" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ActXRef"/>
				<xs:element ref="Description"/>
			</xs:sequence>
			<xs:attribute name="date" type="dateType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActXRef">
		<xs:complexType>
			<xs:attribute ref="xlink:href" use="required"/>
			<xs:attribute ref="xlink:type" fixed="simple"/>
			<xs:attribute name="description" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description" type="contentType"/>
	<xs:simpleType name="answerType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="written"/>
			<xs:enumeration value="oral"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="QuestionMotivationText">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Title" type="xs:string"/>
</xs:schema>
